<div class="sidenav-items">
    <div class="items-holder">
        <button mat-button class="menu-button" [routerLink]="''">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="'profile'">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>About</span>
        </button>
    </div>
    <div class="items-holder">
        <button mat-button class="menu-button justify-end" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </div>
</div>